* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./images/Eye-of-the-Storm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}



.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #00000080;

}

.title{
    font-size: calc(10px + 2vw);
    text-shadow: 0 5px 5px purple;
}

.title p {
    font-size: calc(5px + 1vw);

}

.countdown{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countdown h1{
    font-size: calc(10px + 7vw);
    text-shadow: 0 0 10px whitesmoke;
}

a {
    background-color: #75214C;
    border: solid 3px black;
    color: whitesmoke;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    
}

a:hover{
    background-color: whitesmoke;
    color: black;

}
